body {
  font-family: "Times New Roman", SimSun, Arial, Optima, Candara, Calibri, sans-serif;
}
code {
  font-family: "Courier New", Courier, monospace, "Lucida Console", Monaco, monospace;
  font-size: 100%;
}
