{{ partial "header.html" . }}



<div class="article-meta">
  <h1><span class="title">{{ .Title | markdownify }}</span></h1>
  {{ if (gt .Params.date 0) }}<h2 class="date">{{ .Date.Format "2006-01-02" }}</h2>{{ end }}
</div>



<main>
  {{ .Content }}
</main>



{{if not .IsHome }}
  <ul>
    {{ $pages := .Pages }}

    {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
    
    {{ range (where $pages "Section" "!=" "") }}
    
    <li>
      <span class="date">{{ .Date.Format "2006-01-02" }}</span>
      <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </li>
    
    {{ end }}
  </ul>
{{ end }}



{{ partial "footer.html" . }}
